body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app_container {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.button {
  border: none;
  border-radius: 15px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
}

button:focus {
  outline: none;
  filter: opacity(0.7);
}

form {
  padding-top: 10px;
}

form button {
  margin-left: 5px;
  background-color: cadetblue;
}
